@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* MENU COMIENZA */
nav {
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}

nav .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
/******************************************************/
.menu .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.menu ul {
  display: inline-flex;
}
.menu ul li {
  list-style: none;
  margin-left: 7px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover {
  background: #e7810d;
  color: rgb(255, 255, 255);
}

/* MENU TERMINA */

/* IMAGEN COMIENZA */
.img_car {
  background: url("../imagenes/img3.jpg") no-repeat;
}

.tienda {
  background: url("../imagenes/tienda.jpg") no-repeat;
}

.servicios {
  background: url("../imagenes/servicios.jpg") no-repeat;
}

.contacto {
  background: url("../imagenes/contacto.jpg") no-repeat;
}

.img_car,
.tienda,
.servicios,
.contacto {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.img_car::before,
.tienda::before,
.servicios::before,
.contacto::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
/* IMAGEN TERMINA */

/* VIDEO COMIENZA */

.inter-tittle,
.title_outer,
.about_us {
  text-align: left;
  margin: 35px;
}

.inter-tittle {
  font-size: 16px;
  color: #f76d37;
  text-transform: uppercase;
}

.title_outer {
  color: #3d3d3d;
  font-size: 50px;
  text-transform: uppercase;
}

.about_us {
  font-weight: 300;
  font-size: 16px;
}

/*  Servicios */
.linea {
  display: -ms-flexbox;
  display: flex;
}

.carro_main {
  width: 100%;
  float: left;
  background-color: #fefefe;
  height: auto;
  margin-top: 70px;
}

.round_1 {
  width: 15%;
  margin: 0 auto;
  font-size: 24px;
  color: #fefefe;
  height: 60px;
  background: #e7810d;
  text-align: center;
  border-radius: 60px;
  padding-top: 12px;
  position: relative;
  top: -35px;
}

.aviso_texto {
  width: 100%;
  text-align: center;
  color: #2b3436;
}

.descripcion_texto {
  width: 100%;
  float: left;
  text-align: center;
  color: #2b3436;
  font-size: 20px;
  margin-left: 0px;
}

.images_2 {
  width: 100%;
  float: left;
  text-align: center;
}
/* Termina Servicios */

/* Contacto */

.mail_seccion {
  width: 100%;
  float: left;
  height: auto;
  padding: 23px 70px;
  background-repeat: no-repeat;
  background-size: cover;
}

.email_texto {
  width: 100%;
  float: left;
  margin-top: 20px;
}

.email-bt {
  color: #080707;
  width: 100%;
  height: 55px;
  font-size: 20px;
  padding: 20px 40px;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
}

.mensaje-bt {
  color: #080707;
  width: 100%;
  height: 150px;
  font-size: 20px;
  padding: 40px;
  border-radius: 50px;
}

.enviar_btn {
  width: 170px;
  margin: 0 auto;
  text-align: center;
}

.enviar_form {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  background-color: #d33a11;
  padding: 15px 50px 12px 50px;
  border-radius: 30px;
  display: block;
}
/* Termina Contacto*/

/*  CENTER COMIENZA */
.center {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  text-align: center;
}

.center .title {
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}

.center,
.sub_title {
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}
/* CENTER TERMINA */

/* BTNS COMIENZA */

.center .btns {
  margin-top: 20px;
}

.center .btns button {
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
}

.center .btns .conoce {
  color: white;
  background: none;
}

.btns .conoce:hover {
  background: #e7810d;
  color: rgb(252, 252, 252);
}

.center .btns .sub {
  background: white;
  color: black;
}
/* BTNS TERMINA */
